.online {
    color: #4caf50;
}

.offline {
    color: grey;
}

.vertical-center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#mask {
    position:fixed;left:0;top:0;
    background-color:#000;
    width:100%;
    height:100%;
    opacity:0.8;
    z-Index:5;
}

.my-tab {
    width: 100%;
    padding-top: 10px;
    background-color:grey;
    position: fixed;
    bottom: 0;
    z-index: 4;
}

.my-left {
    margin-top: 50px;
}

.user-show {
    height: 100px;
    max-width: 600px;
    margin-bottom: 30px;
    position: relative;
}
.user-show img {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 20px;
}


.user-show a {
    position: absolute;
    top: 20px;
    right: 20px;
}

#contact {
    margin-top: 50px;
}

#groups {
    margin-top: 50px;
}

#loginInfo img {
    width: 100%;
}

.back {
    height: 100%;
    width: 100%;
    background: url(../images/1.jpg);
    position: fixed;
    z-index: -1;
    background-size:100%

}


#talk img,#call img,#callee img {
    width: 200px;
}