<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="materialize/css/materialize.css"  rel="stylesheet"/>
  <link href="stylesheets/panel.css" rel="stylesheet">
</head>
<body>

<main>
<div class="row">
  <div class="col s2">
    <a v-if="seen" class='dropdown-button btn' href='#' data-activates='loginList'id="choose">请选择登录人员</a>
    <ul v-if="seen" class="dropdown-content" id="loginList">
      <login-item v-for="name in names" :name="name"></login-item>
    </ul>

    <div id = "loginInfo" v-if="seen">
      <p>当前登录的用户是</p>
      <p> {{ name }}</p>
    </div>
  </div>

  <div id="contact" class="col s3">
    <div class>
      <user v-for="item in users" :user="item"></user>
    </div>
  </div>

  <div id="groups" class="col s7">
    <group v-for="group in groups" :group="group"></group>
  </div>

  <div v-if="seen" id="callee" class="card-panel vertical-center">

      <h2>被叫面板</h2>
      <a @click="accept" class="waves-effect waves-light btn green">接听</a>
      <a @click="refuse" class="waves-effect waves-light btn red">拒绝</a>

  </div>

  <div v-if="seen" id="talk" class="card-panel vertical-center">
      <h2>通话面板</h2>
      <a @click="hangup" class="waves-effect waves-light btn red">结束通话</a>
  </div>

  <div v-if="seen" id="call" class="card-panel vertical-center">
      <h2>主叫面板</h2>
      <p> 正在呼叫 {{ target }} </p>
    <a @click="hangup" class="waves-effect waves-light btn red">挂断</a>
  </div>
</div>
</main>


<div><audio id="audio" autoplay controls></audio></div>



<!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

<script src="javascripts/socket.io.js"></script>
<script src="javascripts/adapter.js"></script>
<script src="javascripts/WebRTCClient.js"></script>
<script src="javascripts/fcp-sound.js"></script>
<script src="javascripts/fcp-signal-client.js"></script>
<script src="javascripts/vue.js"></script>
<script src="javascripts/panel.js"></script>
</body>
</html>